<div id="container-header-component">
    <div id="logo-header-component">
        <span><a ng-href="#!">Contrus</a></span>
    </div>
    
    <div id="menu-header-component">
        <span id="cadastrar-colaborador-header-component"><a ng-href="#!/cadastrar-colaborador">Cadastrar Colaborador</a></span>
    </div>
    <div id="menu-header-component">
        <span id="listar-colaboradores-hierarquia-header-component"><a ng-href="#!/listar-colaboradores-hierarquia">Listar Colaboradores</a></span>
    </div>
    <div></div>
</div>



<link rel="stylesheet" type="text/css" href="shared/components/header/header-component.css">